site_name: {{ friendly_name }}
plugins:
  - search
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition
theme:
  name: material
  palette:
    scheme: slate
{% if project_name == 'hyperfast-template' -%}
extra:
  analytics:
    provider: google
    property: G-SY9MF3HBFB
{% endif -%}
