{
    "name": "{{ project_name }}",
    "version": "1.0.0",
    "description": "{{ project_short_description }}",
    "author": "{{ author }} <{{ email }}>",
    "license": "{{ project_license }}",
    "repository": {
        "type": "git",
        "url": "git+https://github.com/{{ github_username }}/{{ github_repo_name }}"
    },
    "bugs": {
        "url": "https://github.com/{{ github_username }}/{{ github_repo_name }}/issues"
    },
    "homepage": "{{ documentation_url }}",
    "scripts": {
        "prepare": "husky install",
        "prebuild": "semantic-release --no-ci --dry-run --plugins @semantic-release/commit-analyzer @semantic-release/exec"
    },
    "devDependencies": {
        "@semantic-release/changelog": "^6.0.2",
        "@semantic-release/commit-analyzer": "^9.0.2",
        "@semantic-release/git": "^10.0.1",
        "@semantic-release/github": "^8.0.7",
        "@semantic-release/npm": "^9.0.2",
        "@semantic-release/release-notes-generator": "^10.0.3",
        "conventional-changelog-conventionalcommits": "^5.0.0",
        "husky": "^8.0.3",
        "semantic-release": "^20.1.0"
    }
}