[tool.poetry]
name = "{{ project_name }}"
description = "{{ project_short_description }}"
authors = ["{{ author }} <{{ email }}>"]
license = "{{ project_license }}"
readme = "README.md"
version = "0.0.0"

[tool.poetry.dependencies]
python = "^3.8.1"
python-semantic-release = "^7.33.1"

[tool.commitizen]
name = "cz_conventional_commits"
version = "1.0.1"
tag_format = "v$version"

[tool.semantic_release]
branch = "main"
version_pattern = "{{ version_file }}:{version}"
version_source = "tag"
commit_version_number = true # required for version_source = "tag"
commit_subject = "chore(release): :rocket: {version} [skip ci]"
prerelease_tag = "rc"
major_on_zero = true
tag_commit = true
changelog_file = "CHANGELOG.md"
upload_to_repository = false
upload_to_release = false
build_command = false
dist_path = "{{ dist_path }}"
hvcs = "github" # hosting version control system, gitlab is also supported
