[tool.poetry]
name = "{{ project_name }}"
version = "0.0.1-rc.7"
description = "{{ project_short_description }}"
authors = ["{{ author }} <{{ email }}>"]
license = "{{ project_license }}"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8.1"

[tool.poetry.group.release.dependencies]
python-semantic-release = "^7.33.1"
setuptools-scm = "^7.1.0"

[tool.commitizen]
name = "cz_conventional_commits"
version = "1.0.1"
tag_format = "v$version"

[tool.setuptools_scm]
write_to = "docs/VERSION"
write_to_template = '{version}'
tag_regex = '^(?P<prefix>v)?(?P<version>[^\+]+)(?P<suffix>.*)?$'

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
version_source = "tag"
commit_version_number = true # required for version_source = "tag"
commit_subject = "chore(release): :rocket: {version} [skip ci]"
prerelease_tag = "rc"
major_on_zero = true
tag_commit = true
changelog_file = "CHANGELOG.md"
upload_to_repository = false
upload_to_release = false
build_command = false
dist_path = "{{ dist_path }}"
hvcs = "github" # hosting version control system, gitlab is also supported

[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2"]
build-backend = 'setuptools.build_meta'
